# variables related to application
PORT=3000
NODE_ENV=development
JWT_SECRET=<your-secret-key-change-in-production>
JWT_EXPIRES_IN=1h
ADMIN_TOKEN=<choose-admin-token>

# variables related to mongodb
MONGODB_URI=mongodb://mongo:27017
MONGODB_DB=rag_platform
CURSOR_LENGTH=<choose-how-many-entities-to-process>

DOCS_TO_BE_PROCESSED=<choose-how-many-entities-to-process>
COLLECTION=<collection-name>

# variables related to chromadb
CHROMA_HOST=chromadb
CHROMA_PORT=8000
DEFAULT_TENANT_ID=<first-tenant-name>

# variables related to ollama
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
OLLAMA_EMBEDDING_MODEL=mxbai-embed-large
OLLAMA_LLM_MODEL=<qwen2.5:7b>
OLLAMA_BASE_URL=""


#variables related to conversation
MESSAGE_TTL_DAYS=<int-related-to-automatic-message-deletion>
TOP_K=<int-related-to-best-k-results>

# variables related to reranker
DEFAULT_TOP_K=3

# variables related to vector_search
DEFAULT_N_RESULTS=10

# variables related to keycloak